@mixin wrapper($padding, $width: 100vw, $max-width: 100vw) {
  padding: 0 $padding;
  width: calc($width - ($padding * 2));
  margin: 0 auto;
  max-width: calc($max-width - ($padding * 2));
}

@mixin margin-bottom($margin) {
  margin: 0;
  margin-bottom: $margin;
}

@mixin default-pseudo-element($width, $height: $width) {
  content: '';
  position: absolute;
  width: $width;
  height: $height;
}

@mixin centering-pseudo-element() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centering-vertical-pseudo-element() {
  top: 50%;

  transform: translateY(-50%);
}

@mixin centering-horizontal-absolut-element() {
  left: 50%;
  transform: translateX(-50%);
}
