$bg-color: #000000;
$success-color: #10c938;
$white-color: #f9f9f9;
$alert-color: #ff1d16;
$second-text-color: #484848;
$gold-color: #c3a66e;
$main-text-color: #00e0ff;
$main-hover-color: rgb(8, 178, 201);
$blue-gradient: linear-gradient(
    180deg,
    rgba(85, 255, 255, 0.8) 0%,
    rgba(0, 236, 255, 0) 100%
  ),
  rgba(0, 224, 255, 0.65);
